<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">ADMIN PANEL</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">


    <!-- Heading -->
    <div class="sidebar-heading mt-3">
        Menu
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="['/']">
            <i class="fas fa-user-plus fa-cog"></i>
            <span>Lista de clientes</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/projection">
            <i class="fas fa-list-ul"></i>
            <span>Proyección y analisis de cliente</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

</ul>
<!-- End of Sidebar -->